<ion-view  title="Terms of use" hide-back-button="false">
     <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">
            <img src="img/dm.png">
        </button>
    </ion-nav-buttons>
   <ion-content scroll="true">
                <div class="padding">
                    <h4 style="margin-bottom:0; padding-bottom:0">ユーザー役割と義務</h4><br/>
                    <p style="margin-bottom:50px;">
                        1）当社の権利に侵害し、または侵害する可能性アクションを、
私たちの財産上の侵害、または侵害する可能性（2）アクション、
（3）（1）及び（2）において、害、または損害を与える可能性がありアクション、米国に加え
（4）本サイト上で使用されるIDとパスワードの不正使用を
（5）他人のIDやパスワードの不正使用を
（6）第三者へのIDおよびパスワードを転送するか、第三者がIDとパスワードを使用すること
（7）サービスに関連するサービスやを通じてコン​​ピュータウイルスなど有害なプログラムを使用もしくは提供します
（8）不当に妨害し、または不当に干渉することがあり、サービスの操作で、私たちに有害であるアクション
（9）は、著作権や私たちのその他の権利として、または第三者の知的財産権を侵害するアクション
誹謗中傷や私たちの威信や信頼または第三者のことを害する（10）アクション
サービスを使用して、他のユーザーを防ぐ（11）アクション
（12）私たちの財産、プライバシー、肖像権、またはパブリシティー権または第三者のもので、侵害、または侵害する可能性アクション
反する、または公共政策と良い道徳に、逆であってもよい（13）アクション
法律の（14）に違反しているアクション、または違反している可能性があります、
（15）犯罪行為、犯罪行為に関連する行為、または潜在的犯罪行為
（16）その他のアクションは、我々が不適切と判断します
                    </p>
                </div>
</ion-content>
</ion-view>
