<style>
    .as{
        vertical-align: middle;
        font-size: 18px;
        font-weight: 700;
    }
</style>
<ion-view hide-back-button="false">
   <ion-content scroll="true">
        <!--<div class="login-header" style="padding-top:10px;">  
                    My Salon
                </div>-->
                    <form  style="height: 100%; background: #fff; background-size: cover;">
                        <div class="padding">
                            <center style="font-size:23px; color:red; font-weight:400; margin-top:35px; margin-bottom:10px">
                                    Add Client
                            </center>
                        </div>
                        <center>
                            <a ng-href="#/app/qr-code" class="button waves-effect waves-light button-full button-assertive" style="text-transform:none; color:#4A4A4A; font-size:20px; opacity:.9; text-align:left; background:transparent; box-shadow:none; border:2px solid #CBCBCB; border-radius:3px;width:60%; padding-left:0px"><i class="fa fa-qrcode" style="color:#131313; font-size:25px; padding-right:20px; padding-left:10px"></i>QR code</a>
                            <a ng-href="#/app/shake" class="button waves-effect waves-light button-full button-assertive" style="text-transform:none; color:#4A4A4A; font-size:20px; opacity:.9; text-align:left; background:transparent; box-shadow:none; border:2px solid #CBCBCB; border-radius:3px; width:60%; padding-left:0px"><i class="ion-android-phone-portrait" style="color:#131313; font-size:25px; padding-right:20px; padding-left:10px"></i>Shake it!</a>
                            <a ng-href="#" class="button waves-effect waves-light button-full button-assertive" style="text-transform:none; color:#4A4A4A; font-size:20px; opacity:.9; text-align:left; background:transparent; box-shadow:none; border:2px solid #CBCBCB; border-radius:3px; width:60%; padding-left:0px"><i class="ion-ios-person" style="color:#131313; font-size:25px; padding-right:10px; padding-left:10px"></i>Invite to app</a>
                        </center>
                </form>
</ion-content>
</ion-view>
