<ion-view  title="My Salon" hide-back-button="true">
     <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">
            <img src="img/dm.png">
        </button>
    </ion-nav-buttons>
   <ion-content scroll="true">
        <!--<div class="login-header" style="padding-top:10px;">  
                    My Salon
                </div>-->
                <div class="padding">
                <form ng-hide="!islogin" style="height: 100%; background: #fff; background-size: cover;">
                    <h4 style="font-size:25px; text-align:center; color:#FF0038; padding:0;font-weight:500; margin-bottom:6%; margin-top:2%">
                        Hello {{user_profile.name}}
                    </h4>
                    <h4 style="color:#fff; text-align:center; padding-top:0px; padding-bottom:10px; margin-top:10px">
                        <img src="img/nana.jpeg" style="width:180px;">
                    </h4>
                    <h5 style="text-align:center; color:#B2B2B2">
                        You don't have any reservations now
                    </h5>
                <div class="padding">
                    <center>
                        <a ng-href="#/app/my-salon" class="button waves-effect waves-light button-full button-assertive" style="padding-left:0px; padding-right:0px; width:65%;text-transform:none; color:#fff; font-size:17px; text-align:center; background:#FF0038; box-shadow:none; border:1px solid #E0E0E0;">
                        + Reservation</a>
                    </center>
                </div>
            </form>
                </div>
</ion-content>
</ion-view>
