<style>
    .as{
        vertical-align: middle;
        font-size: 18px;
        font-weight: 700;
    }
</style>
<ion-view title="Chat list" hide-back-button="true">
   <ion-content scroll="true">
        <!--<div class="login-header" style="padding-top:10px;">  
                    Chat list
                </div>-->
                    <form  style="height: 100%; background: #fff; background-size: cover;">
                        <div class="padding">
                            <center>
                                <label class="item item-input ion-ios-search" style="border-radius:5px; font-size:25px; width: 96%; height:35px; margin-top: 3%; margin-bottom:7px; background: #EBEBEB; border:1px solid #E0E0E0">
                                            <input id="email" type="text" placeholder="Search" style="padding-left:10px; color: #000" required>
                                </label>
                            </center>
                        </div>
                        <center>
                            <div class="list">
                                <a ng-href="#" class="item item-avatar" href="#" style="border:1px solid #E3E2E5; border-left:none; border-right:none; padding-left:65px">
                                <img src="img/g1.jpg">
                                <h2 style="margin-top:-8px">Imamura Chiharu</h2>
                                <p style="color:#9B9B9B; font-size:14px; font-weight:200">Hi, thank you for the haircut yesterday, it is very lovely</p>
                                <h4 style="font-style: italic; color:#ed3b3b; margin-bottom:-5px">Tuesday</h4>
                                </a>
                                <a class="item item-avatar" href="#" style="border:1px solid #E3E2E5; border-left:none; border-right:none; padding-left:65px">
                                <img src="img/g2.jpg">
                                <h2 style="margin-top:-8px">Takahashi Keisuke</h2>
                                <p style="color:#9B9B9B; font-size:14px; font-weight:200">Thank you for coming yesterday. I am looking forward to see you</p>
                                <h4 style="font-style: italic; color:#ed3b3b; margin-bottom:-5px">4/25</h4>
                                </a>
                                <a class="item item-avatar" href="#" style="border:1px solid #E3E2E5; border-left:none; border-right:none; padding-left:65px">
                                <img src="img/boy.jpg">
                                <h2 style="margin-top:-8px">Tamura Erika</h2>
                                <p style="color:#9B9B9B; font-size:14px; font-weight:200">By the way, lest try this new treatment next time.</p>
                                <h4 style="font-style: italic; color:#ed3b3b; margin-bottom:-5px">4/20</h4>
                                </a>
                            </div>
                        </center>
                        
                        <!--<table style="width:100%; border:1px solid #E3E2E5; border-left:none; border-right:none">
                            <tr>
                                <td style="width:2%; padding-left:10px">
                                </td>
                                <td class="as" style="border:1px solid #E3E2E5; border-left:none; border-right:none">
                                   <img src="img/g1.jpg" style="height:50px; border-radius:50px; margin-top:10px; margin-bottom:-25px">
                                   <p style="margin-top:-35px; margin-left:55px; font-weight:300; color:#000">Imamura Chiharu</p> 
                                   <p style="margin-left:55px; color:#9B9B9B; font-size:14px; margin-top:-20px; font-weight:200">Hi, thank you for the haircut yesterday, it is very lovely</p>
                                   <p style="font-size:14px; font-weight:300; margin-left:55px; margin-top:-23px; margin-bottom:0; font-style: italic; color:#ed3b3b">Tuesday</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:2%; padding-left:10px">
                                </td>
                                <td class="as" style="border:1px solid #E3E2E5; border-left:none">
                                    <img src="img/g2.jpg" style="height:50px; width:50px; border-radius:50px; margin-top:10px; margin-bottom:-25px">
                                   <p style="margin-top:-35px; margin-left:55px; font-weight:300; color:#000">Takahashi Keisuke</p> 
                                   <p style="margin-left:55px; color:#9B9B9B; font-size:14px; margin-top:-20px; font-weight:200">Thank you for coming yesterday. I am looking forward to see you</p>
                                   <p style="font-size:14px; font-weight:300; margin-left:55px; margin-top:-23px; margin-bottom:0; font-style: italic; color:#ed3b3b">4/25</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:2%; padding-left:10px">
                                </td>
                                <td class="as" style="border:1px solid #E3E2E5; border-left:none">
                                    <img src="img/boy.jpg" style="height:50px; width:50px; border-radius:50px; margin-top:10px; margin-bottom:-25px">
                                   <p style="margin-top:-35px; margin-left:55px; font-weight:300; color:#000">Tamura Erika</p> 
                                   <p style="margin-left:55px; color:#9B9B9B; font-size:14px; margin-top:-20px; font-weight:200">By the way, lest try this new treatment next time.</p>
                                   <p style="font-size:14px; font-weight:300; margin-left:55px; margin-top:-23px; margin-bottom:0; font-style: italic; color:#ed3b3b">4/20</p>
                               </td>
                            </tr>
                        </table>-->
                    
                </form>
</ion-content>
</ion-view>
