<style>
    .as {
        vertical-align: middle;
        font-size: 18px;
        font-weight: 700;
    }
</style>
<ion-view title="Settings" hide-back-button="true">
    <ion-content scroll="true">
        <!--<div class="login-header" style="padding-top:10px; border-bottom:1px solid #E3E2E5">  
                    Settings
                </div>-->
        <form style="height: 100%; background: #fff; background-size: cover;">
            <div style="height:20%; background:#F5F5F5; padding-top:5%; padding-left:5%; padding-bottom:5%; border-bottom: 1px solid #E3E2E5; border-top: 1px solid #E3E2E5">
                My Settings
            </div>
            <label onclick="location.href='#/app/my-profile'" class="item item-input ion-ios-person" style="margin-left:0px; font-size:25px; width: 100%; height:40px; margin-top:0; margin-bottom:0px; background: #FFFFFF; border-left:none; border-right:none; border-top:none">
                            <a style="padding-left:20px; color: #363636; font-size:17px">
                                My Profile
                            </a>
                            <i class="ion-ios-arrow-right" style="margin-left:55%; color:#A3A3A3"></i>
                         </label>
            <div style="height:20%; background:#F5F5F5; padding-top:4%; padding-left:5%; padding-bottom:5%; border-bottom: 1px solid #E3E2E5">
                Application Settings
            </div>
            <table style="width:100%;">
                <tr>
                    <td style="width:15%; padding-left:10px; padding-top:10px; padding-bottom:10px">

                        <i class="ion-ios-bell-outline" style="font-size:32px; padding-left:3px"></i>

                    </td>
                    <td class="as" style="border:1px solid #E3E2E5; border-left:none; border-right:none; border-top:none; font-weight:100">
                        <ul class="list" style="margin-left:-15px">
                            <li class="item item-toggle" style="font-size:18px; color:#000">
                                Push notifications
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width:10%; padding-left:10px; padding-top:10px; padding-bottom:10px">
                        <i class="ion-ios-chatbubble-outline" style="font-size:32px; padding-left:3px"></i>
                    </td>
                    <td class="as" style="border:1px solid #E3E2E5; border-left:none; border-bottom:none; font-weight:100">
                        Invite a friend
                    </td>
                </tr>
            </table>
            <div style="height:20%; background:#F5F5F5; padding-top:4%; padding-left:5%; padding-bottom:5%; border-bottom: 1px solid #E3E2E5; border-top: 1px solid #E3E2E5">
                Other
            </div>
            <table style="width:100%;">
                <tr>
                    <td style="width:0%;">
                    </td>
                    <td class="as" style="border:1px solid #E3E2E5; border-left:none; border-right:none; border-top:none; font-weight:100; padding-top:10px; padding-bottom:10px; padding-left:10px">
                        Terms of use
                        <i class="ion-ios-information-outline" style="float:right; margin-right:10px; font-size:23px; color:#007AFF"></i>
                    </td>
                </tr>
                <tr>
                    <td style="width:0%;">
                    </td>
                    <td class="as" style="border:1px solid #E3E2E5; border-left:none; font-weight:100; padding-top:10px; padding-bottom:10px; padding-left:10px">
                        Privacy Policy
                        <i class="ion-ios-information-outline" style="float:right; margin-right:10px; font-size:23px; color:#007AFF"></i>
                    </td>
                </tr>
                <tr>
                    <td style="width:0%;">
                    </td>
                    <td class="as" style="border:1px solid #E3E2E5; border-left:none; border-right:none; border-top:none; font-weight:100; padding-top:10px; padding-bottom:10px; padding-left:10px">
                        Ask a question
                        <i class="ion-ios-information-outline" style="float:right; margin-right:10px; font-size:23px; color:#007AFF"></i>
                    </td>
                </tr>
                <tr>
                    <td style="width:0%;">
                    </td>
                    <td class="as" style="border:1px solid #E3E2E5; border-left:none; font-weight:100; padding-top:10px; padding-bottom:10px; padding-left:10px">
                        Write a review
                        <i class="ion-ios-information-outline" style="float:right; margin-right:10px; font-size:23px; color:#007AFF"></i>
                    </td>
                </tr>
                <tr>
                    <td style="width:0%;">
                    </td>
                    <td class="as" style="border:1px solid #E3E2E5; border-left:none; border-right:none; border-top:none; font-weight:100; padding-top:10px; padding-bottom:10px; padding-left:10px">
                        <a ng-click="showAlert()"> App version
                                     <i class="ion-ios-information-outline" style="float:right; margin-right:10px; font-size:23px; color:#007AFF"></i>
                                   </a>
                    </td>
                </tr>
            </table>
            <div style="height:20%; background:#F5F5F5; padding-top:4%; padding-left:6%; padding-bottom:5%; border-bottom: 1px solid #E3E2E5; border-top:none; margin-bottom:50px">
                <center>
                    <a ng-href="#/app/login" class="button waves-effect waves-light button-full button-assertive" style="padding-left:0px; padding-right:0px; width:40%;text-transform:none; color:#FF0038; font-size:17px; text-align:center; box-shadow:#FF0038; border:1px solid #FF0038; background:#fff; font-weight:100">
                                    Log Out</a>
                </center>
            </div>
        </form>
    </ion-content>
</ion-view>