<ion-view  title="<span class='home'>My Salon</span>" hide-back-button="false">
     <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">
            <img src="img/dm.png">
        </button>
    </ion-nav-buttons>
   <ion-content scroll="true">
        <!--<div class="login-header" style="padding-top:10px;">  
                    My Salon
                </div>-->
                <div class="padding">
                <form ng-hide="!islogin" style="height: 100%; background: #fff; background-size: cover;">
                    <div ng-show="QR">
                        <h5 style="font-size:20px; text-align:center; color:#FF0038; padding:0;font-weight:500; margin-bottom:6%; margin-top:2%">
                            My QR Core
                        </h5>
                        <h4 style="color:#fff; text-align:center; padding-top:0px; padding-bottom:10px; margin-top:10px">
                            <img src="img/qr.png" style="width:250px;">
                        </h4>
                        <p style="text-align:center; color:#B2B2B2; font-size:18px">
                            Have someone to scan your QR<br/> code to be added as a friend
                        </p>
                    </div>
                    <div ng-show="!QR">
                        <h5 style="font-size:20px; text-align:center; color:#FF0038; padding:0;font-weight:500; margin-bottom:6%; margin-top:2%">
                            QR Core Reader
                        </h5>
                        <h4 style="color:#fff; text-align:center; padding-top:0px; padding-bottom:10px; margin-top:10px">
                            <img src="img/qr.png" style="width:250px;">
                        </h4>
                        <p style="text-align:center; color:#B2B2B2; font-size:18px">
                            Line up the QR code to scan it<br/> with your phone's camera.
                        </p>
                    </div>
                <div class="padding">
                    <center>
                        <a ng-show="QR" ng-click="show()" class="button waves-effect waves-light button-full button-assertive" style="padding-left:0px; padding-right:0px; width:65%;text-transform:none; color:#fff; font-size:17px; text-align:center; background:#FF0038; box-shadow:none; border:1px solid #E0E0E0;">
                        QR Code Reader</a>

                        <a ng-show="!QR" ng-click="hide()" class="button waves-effect waves-light button-full button-assertive" style="padding-left:0px; padding-right:0px; width:65%;text-transform:none; color:#fff; font-size:17px; text-align:center; background:#FF0038; box-shadow:none; border:1px solid #E0E0E0;">
                        My QR Code</a>
                    </center>
                </div>
            </form>
                </div>
</ion-content>
</ion-view>
