<ion-view title="My Salon" hide-back-button="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">
            <img src="img/dm.png">
        </button>
    </ion-nav-buttons>
    <ion-content scroll="true">
        <!--<div class="login-header" style="padding-top:10px;">  
                    My Salon
                </div>-->
        <div class="padding" style="padding-bottom: 0 !important">
            <form ng-hide="!islogin" style="height: 100%; background: #fff; background-size: cover;">
                <h4 style="font-size:23px; text-align:center; color:#000; padding:0;font-weight:500; margin-bottom:0; margin-top:2%; text-transform: capitalize;">
                    {{user_profile.name}}
                </h4>
                <h5 style="color:#909090; text-align:center; margin-top:2px; margin-bottom:5%; text-transform: capitalize;">{{user_profile.name}}</h5>
                <h4 style="color:#fff; text-align:center; padding-top:0px; padding-bottom:5px; margin-top:10px">
                    <img src="img/nana.jpeg" style="width:120px;">
                </h4>
                <h5 style="text-align:center; color:#909090">
                    No reservations
                </h5>
                <div class="padding">
                    <center>
                        <a ng-href="#/app/my-salon" class="button waves-effect waves-light button-full button-assertive" style="padding-left:0px; padding-right:0px; width:47%;text-transform:none; color:#fff; font-size:17px; text-align:center; background:#FF0038; box-shadow:none; border:1px solid #E0E0E0;">
                        + Reservation</a>
                    </center>
                </div>
            </form>
        </div>
        <div class="list" style="margin-bottom:0">
                            <span style="padding-left:16px; color:red; font-size:17px">Salon:</span> 
                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100; min-height:0; padding:6px; padding-left:16px; margin-bottom:6px">
                                <i hidden></i>
                                Y-Salon
                            </a>

                            <span style="padding-left:16px; color:red; font-size:17px">Address:</span> 
                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100; min-height:0; padding:6px; padding-left:16px; margin-bottom:6px">
                                Tokyo, Shibuya, Harajuku 1-2-3
                                <i class="icon ion-ios-navigate-outline" style="color:red"></i>
                            </a>

                            <span style="padding-left:16px; color:red; font-size:17px">Phone:</span> 
                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100; min-height:0; padding:6px; padding-left:16px">
                                080-1111-2222
                                <i class="icon ion-ios-telephone-outline" style="color:red"></i>
                            </a>
                        </div>
                        <div  style="height:17%; background:#F5F5F5; padding-top:4%; padding-left:5%; padding-bottom:5%; border-bottom: 1px solid #E3E2E5;font-size:19px;">
                                History
                        </div>
                        <div class="list" style="margin-bottom:50px">
                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100;">
                                <i hidden></i>
                                2016/01/18 &nbsp 10:00
                                <i class="icon ion-ios-arrow-right" style="color:#8B8B8B; font-size:22px"></i>
                            </a>

                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100;">
                                2015/12/18 &nbsp 10:00
                                <i class="icon ion-ios-arrow-right" style="color:#8B8B8B; font-size:22px"></i>
                            </a>

                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100;">
                                2015/10/01 &nbsp 15:00
                                <i class="icon ion-ios-arrow-right" style="color:#8B8B8B; font-size:22px"></i>
                            </a>
                        </div>
    </ion-content>
</ion-view>